name: Run Ada Pools Script

on:
  schedule:
    - cron: '*/30 * * * *' # Schedule to run every 30 minutes
  workflow_dispatch: # Manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2.5.2
        with:
          node-version: 16
          
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          python-version: 3.9.1

      - name: Set up Python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: 3.9.1

      - name: Run Python script
        run: |
          python py/ada_pools_script.py

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add src/outfile_ada_pools.json
          git commit -m "Update Ada Pools Stats via GitHub Actions"
          git push
